<?xml version="1.0" encoding="utf-8" ?>
<options
	sendEmail="true"
	testMode="true"
	organizationName="ORGANIZATION"
	clientId="CLIENT ID HERE"
	clientSecret="CLIENT SECRET HERE"
	tenantDomain="TENANT DOMAIN HERE"
	toAddress="RECIPIENT ADDRESS 1,RECIPIENT ADDRESS 2"
	fromAddress="SENDER ADDRESS"
/>
