<style type="text/css">
#HeadingInfo
{
font-family:"Segoe UI Light";
width:100%;
border-collapse:collapse;
} 
#HeadingInfo td, #HeadingInfo th
{
font-size:0.8em;
padding:3px 7px 2px 7px;
} 
#HeadingInfo th
{ 
font-size:2.0em;
font-weight:normal;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#604767;
color:#fff;
} 
#section
{ 
font-family:"Segoe UI Light";
width:100%;
border-collapse:collapse;
}
#section th
{
font-size:1.0em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#fff;
color:#000; 
} 
#data 
{
font-family:"Segoe UI Light";
width:100%;
border-collapse:collapse;
} 
#data td, #data th
{ 
font-size:0.8em;
border:1px solid #DDD;
padding:3px 7px 2px 7px; 
} 
#data th  
{
font-size:0.8em;
padding-top:5px;
padding-bottom:4px;
background-color:#00B388;
color:#fff; text-align:left;
} 
#data td 
{ font-size:0.8em;
padding-top:5px;
padding-bottom:4px;
text-align:left;
vertical-align:top;
} 
#data td.bad
{ font-size:0.8em;
font-weight: bold;
padding-top:5px;
padding-bottom:4px;
color:#f04953;
vertical-align:top;
} 
#data td.good
{ font-size:0.8em;
font-weight: bold;
padding-top:5px;
padding-bottom:4px;
color:#01a982;
vertical-align:top;
}

.status {
width: 10px;
height: 10px;
margin-right: 7px;
margin-bottom: 0px;
background-color: #CCC;
background-position: center;
opacity: 0.8;
display: inline-block;
}
.green {
background: #01a982;
}
.purple {
background: #604767;
}
.orange {
background: #ffd144;
}
.red {
background: #f04953;
}
</style>